<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../src/views/assets/login.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <title>Weather</title>
</head>

<body>
    <div class="background">
        <div class="logo">
            <img src="images/logo.svg">
        </div>

        <span class="welcome">Welcome!</span>
        <span class="great">today will be great.</span>

        <!-- <div class="email2">
        <span>Email</span>
    </div>
    <div class="password2">
        <span>Password</span>
    </div> -->
        <div>
            <form method="POST" action="/v1/auth/login">
                <div class="email">
                    <img src="images/email.svg" class="email-logo">
                    <input type="email" name="email" class="email-form-control" placeholder="Email">
                </div>
                <div class="password">
                    <img src="images/key.svg" class="password-logo">
                    <input type="password" name="password" class="password-form-control" placeholder="password">
                </div>

                <div class="button">
                    <input type="submit" value="Get started" class="button-style">
                </div>
            </form>

            <span class="span-message"> Don`t have an account?</span>

            <div class="sign-up">
                <a class="sign-up-text" href="./register">Sign up</a>
            </div>
        </div>
    </div>

</body>

</html>
