<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>Cheburek</h1>
        <form method="POST" action="/weather/more">
            <div class="email-logo">
                <!-- <img src="images/email.svg" class="email-logo"> -->
            </div>
            <input type="test" name="email" class="email" placeholder="test">

            <div>
                <input type="submit" value="Get started" class="login">
            </div>

        </form>
    </div>
    <!-- <script type="module" src="/src/views/frontend.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</body>

</html>
