<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../src/views/assets/test.css">
    <link href='https://fonts.googleapis.com/css?family=Qwigley' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <title>Document</title>
</head>

<body>
    <div class="background">
        <div class="logo">
            <img src="images/logo.svg">
        </div>
        <div class="welcome">
            Welcome!
        </div>
        <div class="great">
            today will be great.
        </div>

        <form method="POST" action="/v1/auth/login">
            <div class="">
                <img src="images/email.svg" class="email-logo">
                <input type="email" name="email" class="email" placeholder="Email">
            </div>

            <div class="">
                <img src="images/key.svg" class="password-logo">
                <input type="password" name="password" class="password" id="passInput" placeholder="Password">
                <img src="images/view-pass.svg" class="password-logo2" onclick="showPass()">
            </div>

            <div>
                <input type="submit" value="Get started" class="login">
            </div>
        </form>
        <div class="message">
            Don`t have an account?
        </div>
        <div class="">
            <button class="register">Sign up</button>
        </div>

    </div>
    <script src="showPass.js"></script>
</body>

</html>
