<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/src/views/assets/weather.css">
    <title>Weather</title>
</head>

<body>
    <div class="container" id="app" style=" margin: 120px; text-align: center;">
        <input v-model="city" name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
        <button class="btn btn-primary" @click="getWeather">GetWeather</button>
        <div>
            <h1>{{cityName}}</h1>
            <table>
                <td v-for="day of days">
                    {{day}}
                </td>
            </table>
            <table>
                <td v-for="weatherIamgeUrl in weather">
                    <img v-bind:src="weatherIamgeUrl">
                </td>
            </table>
        </div>

    </div>
    <script type="module" src="/src/views/frontend.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>
